<section class="blurb">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- the7sign.github.io menu ad -->
	<ins class="adsbygoogle"
		 style="display:inline-block;width:336px;height:280px"
		 data-ad-client="ca-pub-1165223738958847"
		 data-ad-slot="2802003603"></ins>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</section>
<section class="blurb">
  <h2>About</h2>
	<p>{{ site.description }}</p>
	<ul class="actions">
	  <li><a href="/about" class="button">Learn More</a></li>
	</ul>
</section>
